<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Get​ ​Stack​ ​Overflow​ ​posts</title>

    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/css/style.css" rel="stylesheet">
</head>

<body>

<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="#">Get​ ​Stack​ ​Overflow​ ​posts</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
        </ul>
        <form class="form-inline my-2 my-lg-0" method="post" onsubmit="return false">
            <div>
                <input name="uid" id="uid" class="form-control mr-sm-2" type="text" placeholder="Stack​ ​Overflow​ ​user​ ​ID" aria-label="Get my posts">
                <input name="querypos" id="querypos" class="form-control mr-sm-2" type="hidden">
                <button id="btnGetPosts" class="btn btn-outline-success my-2 my-sm-0" type="submit">Get my posts</button>
            </div>
        </form>
    </div>
</nav>

<main role="main" class="container">

    <div class="mainform">
        <h1>Get​ ​Stack​ ​Overflow​ ​posts</h1>
        <p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones HTML document.</p>
    </div>

</main><!-- /.container -->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="http://getbootstrap.com/assets/js/vendor/popper.min.js"></script>
<script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>
<script src="static/js/script.js"></script>
</body>
</html>
